<div id="authentication-page">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h2>forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <div class="btn">
    <%= f.submit "", class: "send-me-the-reset-pwd-cls" %>
      </div>
  </div>
  <% end %>

  <div class="shared-links">
    <%= render "devise/shared/links" %>
  </div>



</div>
